{% include "head.html" %}
<title>Pelajarnu - Login</title>
<body class="bg-gradient-success">

  <!-- Page Wrapper -->
  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-login-image">
                <!-- <img src="{{ url_for('static', filename='img/ipnu.jpg') }}" class="img-fluid" alt="Responsive image"> -->
              </div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Welcome Back! <br>Sistem Informasi PELAJARNU</h1>
                    <!-- <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1> -->
                  </div>
                  <form class="user" action="/login" method="post">
                    <div class="form-group">
                      <!-- {% for mesg in get_flashed_messages() %} -->
                         {{ mesg }}
                       <!-- {% endfor %} -->
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control form-control-user" id="exampleInputEmail"  placeholder="Enter username" name="username">
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Password" name="password">
                    </div>
                  <button type="submit" name="button" class="btn btn-success btn-user btn-block">LOGIN</button>
                  </form>
                  <hr>
                  <div class="text-center">
                    <p>Belum punya akun?<br> Silahkan klik tombol dibawah ini</p>
                    <a class="btn btn-primary " href="/register">DAFTAR!</a>
                  </div>
                  <div class="text-center">
                    <a class="small" href="#">Forgot Password?</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>



{% include "footer.html" %}
